:root {
  --mint: #91ae9c;
  --cream: #f9efdf;
  --peach: #f7c8b6;
  --coral: #ea8c74;
  --dark: #3f3f3f;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--cream);
  color: var(--dark);
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

main,
.banner,
.navbar,
footer {
  padding: 1rem;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--mint);
  padding: 1rem 3rem;
}

.navbar h1 {
  color: white;
  font-family: cursive;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

/* Hero section */
.hero {
  background-image: url("images/hero_img.webp");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 3rem;
}

.hero-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
}

.hero-heading h2 {
  font-size: 3rem;
  color: var(--cream);
  max-width: 500px;
  font-family: cursive;
}
.hero-image img {
  width: 100%;
  max-width: 50rem;
  height: auto;
}

button {
  background: var(--coral);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 24px;
  cursor: pointer;
  max-width: 12rem;
}

/* Main content */
.content h2 {
  text-align: center;
}

.content-button {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 250px;
  background: var(--cream);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  height: 220px;

  object-fit: cover;
}

.cards p {
  text-align: center;
}

/* About Page */
.about-preview {
  display: flex;
  align-items: center;
  gap: 3rem;
  max-width: 1200px;
  margin: 5rem auto;
}

/* Footer Section */
footer {
  background: var(--mint);
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 4rem;
}

footer a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

/* Media queries */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    margin-top: 1rem;
  }

  .banner {
    flex-direction: column;
    text-align: center;
  }

  .banner img {
    width: 100%;
    max-width: 350px;
  }
}
